.theme-dark {
    --text-highlight-bg: #6603fc;
}

.cm-s-obsidian span.cm-inline-code {
    color: #8A5CFE;
}

.theme-dark .markdown-preview-view code:not(pre code) {
    color: #8A5CFE;
    background-color: rgba(102, 3, 252, 0.15);
    border-radius: 4px;
    padding: 2px 4px;
}

.theme-dark .markdown-preview-view pre code {
    color: inherit;
    background-color: inherit;
}

